.header {
    margin-top: 60px;
  }
  
  .headerTitles {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Fuzzy Bubbles', cursive;
    color: rgb(41, 199, 26);
  }
  
  .headerTitleSm {
    position: absolute;
    top: 16%;
    font-size: 20px;
  }
  
  .headerTitleLg {
    position: absolute;
    top: 19%;
    font-size: 100px;
  }
  
  .headerImg {
    width: 100%;
    height: 450px;
    margin-top: 60px;
    object-fit: cover;
  }